@charset "ISO-8859-1";

/* Login Form */

.login-form {
    max-width: 1100px;
    width: 100%;
    background: #fff;
    margin: 60px auto;
    padding: 30px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
    border: 5px solid var(--border);
    border-radius: 10px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.login-form .login {
   width: 100%;
}

.login-form .login .input-field {
    margin-bottom: 15px;
    display: flex;
    align-items: center; 
 }

 .login-form .login .input-field label {
    width: 200px;
    margin-right: 10px;
    font-size: 1.2rem;
 }

 .login-form .login .input-field .input {
     width: 100%;
     outline: none;
     border: 1px solid #d5dbd9;
     border-radius: 3px;
     font-size: 15px;
     padding: 8px 10px;
 }

 .login-form .login .input-field .input:focus {
     border: 1px solid var(--border);
 }

 .btn {
    width: 100%;
    border-radius: 10px;
    padding: 20px 25px;
    font-size: 20px;
    outline: none;
 }

 .btn-login {
    width: 100%;
    border-radius: 10px;
    margin: 10px 0px;
    padding: 20px 25px;
    font-size: 20px;
    outline: none;
 }

 .btn:hover {
    cursor: pointer;
 }

 .ssdm {
    font-size: 1.2rem;
 }

 .mdpo {
     font-size: 1.2rem;
 }



