@charset "UTF-8";

/* navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.brand-title {
    font-size: 2rem;
    margin: 1rem;
    
}

.brand-title a {
    text-decoration: none;
    color: white;
}

.brand-title a:visited {
    color: white;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a{
    text-decoration: none;
    color: var(--secondary-color);
    padding: 1rem;
    display: block;
}

.navbar-links li:hover {
    background-color: var(--light-blue);  
}


.toggle-button {
    position: absolute;
    top: 1.55rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: var(--secondary-color);
    border-radius: 10px;
}

/*head*/

.head {
    padding: 20px;
    background: var(--primary-color);
    color: var(--secondary-color);
    
    text-align: center;
}
/* Header */


.header {
    padding: 180px;
    background-image: url(../img/Header-test.png);
    background-size: cover; 
    background-position: top;
    
}