
/* Profile */
.profile {​​​​​
    margin-top: 60px;
    border-spacing: 20px;
    margin-left: 15%;
    margin-right: 15%;
}​​​​​
table {​​​​​
    margin: 0px;
    padding: 0px;
    width: 100%;
    margin-bottom: 20px;
    border-spacing: 10px;
}​​​​​
.td1 {​​​​​
    border:1px solid black;
    width: 30%;
    max-width: 75px;
    font-size: 18px;
    background-color: white;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
}​​​​​
.td2 {​​​​​
    width:70%;
    border:1px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16px;
    background-color: white;
    border-radius: 5px;
}​​​​​
.value-td1 {​​​​​
    padding-left: 10px;
}​​​​​
.value-td2 {​​​​​
    padding-left: 20px;
    padding-right: 20px;
}​​​​​